body {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: $light;
}
.container {
	max-width: $maxw+px;
	margin: 0 auto;
	width: 100%;
	@media (max-width: 1200px) {
		max-width: none;
		padding: 0px 30px;
	}
	@media (max-width: $md6+px) {
		padding: 0px 20px;
	}
}
//===CONTENT===//
.content {
	margin-top: -122px;
}
a {
	&:hover {
		text-decoration: underline;
	}
}
.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}
.btn {
	font-weight: 500;
	line-height: 20px;
	text-align: center;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $light;
	background-color: #99862A;
	padding: 15px 30px;
	@media (max-width: $md5+px) {
		font-size: 14px;
		padding: 10px 20px;
	}
}
.h2--title {
	font-family: 'Playfair Display', serif;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 150%;
	//* identical to box height, or 54px */
	margin-bottom: 40px;
	&::after {
		content: "";
		display: block;
		width: 160px;
		height: 1px;
		position: relative;
		left: 0;
		right: 0;
		background-color: $light;
		margin: 0 auto;
		margin-top: 40px;
	}
	@media (max-width: $md3+px) {
		font-size: 28px;
		line-height: 140%;
		margin-bottom: 30px;
		&::after {
			margin-top: 30px;
		}
	}
	@media (max-width: $md5+px) {
		font-size: 24px;
		margin-bottom: 25px;
		&::after {
			margin-top: 25px;
		}
	}
	@media (max-width: $md7+px) {
		font-size: 22px;
	}
}
.h2--title--black {
	margin-bottom: 30px;
	&::after {
		background-color: $main;
		margin-left: 0;
		margin-right: 0;
		margin-top: 30px;
	}
	@media (max-width: 1200px) {
		&::after {
			margin-left: auto;
			margin-right: auto;
		}
	}
	@media (max-width: $md5+px) {
		margin-bottom: 25px;
		&::after {
			margin-top: 25px;
		}
	}
}
.btn--grey {
	display: block;
	width: 100%;
	cursor: pointer;
	background-color: $main;
	border: 1px solid $light;
	&:hover {
		text-decoration: underline;
	}
}