//<Screen width variables>
$minw: 320;
$maxw: 1110;//изменить в соответствии с макетом!
$md1: 991.98;
$md2: 780;
$md3: 767.98;
$md4: 575.98;
$md5: 479.98;
$md6: 426;
$md7: 375;

//<Colors>
$main: #282828;
$accent: #998431;
$light: #fff;
$frame: #c4c4c4;