/*===COLLECTIONS SECTION===*/
.collections {
	color: $main;
	background-color: #E6E3C4;
	padding: 80px 0;

	&-body {
		display: flex;
		justify-content: space-between;
		border-top: 1px solid $accent;
		border-bottom: 1px solid $accent;
		padding: 60px 0;
	}
	&-column__left {
		margin-right: 125px;
	}
	&__subtitle {
		color: #000;
		margin-bottom: 30px;
	}
	&__text {
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 30px;
	}
	&__table {
		border-collapse: collapse;
		margin-bottom: 30px;
	}
	tr {
		border-bottom: 1px solid $main;
		&:last-child {
			border-bottom: 0;
		}
	}
	td.column-year {
		border-right: 1px solid $main;
		padding: 31px 24px 26px;
	}
	.item__year {
		font-size: 14px;
		line-height: 21px;
		text-align: center;
	}
	td.column-item {
		padding: 10px 30px 15px;
	}
	.item__name {
		font-family: 'Playfair Display', serif;
		font-weight: bold;
		font-size: 18px;
		line-height: 27px;
		margin-bottom: 5px;
	}
	.item__description {
		font-size: 14px;
		line-height: 21px;
	}
	&-button {
		display: flex;
	}
	&__img--big {
		display: block;
		max-width: 100%;
		margin-bottom: 30px;
	}
	&-images {
		display: flex;
		justify-content: space-between;
	}
	.image-left {
		margin-right: 30px;
	}
	&__img--small {
		display: block;
	}
	@media (max-width: 1200px) {
		&-body {
			flex-direction: column;
			align-items: center;
		}
		&-column__left {
			margin-right: 0;
			margin-bottom: 40px;
		}
		.column-left__item {
			max-width: 800px;
		}
		&__subtitle,
		&__title,
		&__text {
			text-align: center;
		}
		&__table {
			margin-left: auto;
			margin-right: auto;
		}
		&-button {
			justify-content: center;
		}
		&-column__right {
			display: flex;
			//justify-content: space-between;
		}
		&__img--big {
			margin-bottom: 0;
			margin-right: 40px;
		}
		&-images {
			flex-direction: column;
		}
		.image-left {
			margin-right: 0;
		}
	}
	@media (max-width: $md1+px) {
		&-column__right {
			display: block;
		}
		&__img--big {
			margin-bottom: 30px;
			margin-right: 0;
		}
		&-images {
			flex-direction: row;
		}
		.image-left {
			margin-right: 30px;
		}
	}
	@media (max-width: $md3+px) {
		padding: 50px 0;

		&-body {
			padding: 40px 0;
		}
		td.column-year {
			padding: 31px 20px 26px;
		}
		td.column-item {
			padding: 10px 20px 15px;
		}
		&-column__right {
			width: 100%;
		}
		&__img--big {
			width: 100%;
		}
		.image-left,
		.image-right {
			flex: 0 1 50%;
		}
		&__img--small {
			max-width: 100%;
			width: 100%;
		}
	}
	@media (max-width: $md5+px) {
		&__subtitle {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
	@media (max-width: $md6+px) {
		&-body {
			padding: 30px 0;
		}
		td.column-year {
			padding: 10px;
		}
		td.column-item {
			padding: 10px 0 10px 10px;
		}
		&__img--big {
			margin-bottom: 20px;
		}
		.image-left {
			margin-right: 20px;
		}
	}
}